body {
		background-color: #fefefe;
	}

.tile {
	width: 97vw;
	height: 95vh;
	background-color: #0000ff;
	margin: 10px;
	background-image: url(https://pbs.twimg.com/media/CvXFtjAWEAAAto5.jpg:large);
	background-position: center;
	background-size: cover;
	transform-style: preserve-3d;
	transition: all 0.3s linear; 
	transform-origin: center 50% 0px;

}

.tile:hover {
	opacity: 1;
	transition: opacity 0.3s;
}

#text {
	position: relative;
	color: #fefefe;
	font-size: 50px;
	text-align: center;
	font-weight: bolder;
	transform: translateZ(100px);
	transition: all 3s;
	padding: 200px;
	text-shadow: 1px 1px 20px black;
}