body {
		background-color: #fefefe;
		padding: 0px;
		margin: 0px;
		background-color: #330077;
		font-family: "Arial";
		overflow: hidden;
}

#xy {
	color: #FFFFFF;
	display: none;
}

#overlay{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #7700ff;
	opacity: 0.1;
	z-index: 999;
}

.tile {
	width: 97vw;
	height: 95vh;
	/*background-color: #0000ff;*/
	margin: 10px;
	/*background-image: url(https://pbs.twimg.com/media/CvS_EE7XYAEFC_E.jpg:large);*/
	background-position: center;
	background-size: cover;
	transform-style: preserve-3d;
	transition: all 0.1s linear; 
	transform-origin: center 50% 0px;
	/*box-shadow: 0px 0px 50px black;*/

}

#text {
	position: relative;
	color: #fefefe;
	font-size: 50px;
	text-align: center;
	font-weight: bolder;
	transform: translateZ(30px);
	transition: all 3s;
	padding: 200px;
	text-shadow: 1px 1px 20px black;
}